@import "../../../styles/variables.scss";

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 34px;

  span {
    font-size: 14px;
    text-decoration: underline;
    color: $secondary-color;
    text-align: end;
  }
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.main-section {
      flex-grow: 1;
      background-color: $primary-color;
      gap: 8px;
    }

    &.form-section {
      flex-grow: 0.3;
      padding: 0 20px;

      img {
        margin-bottom: 30px;
      }

      h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 45px;
      }

      .btn-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 30px;

        .divider {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          width: 100%;
          font-size: 14px;
          color: $gray-bg;
          font-weight: 400;
          text-transform: uppercase;

          div {
            flex-grow: 1;
            height: 2px;
            background-color: $gray-bg;
          }
        }

        button {
          width: 100%;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 500;
          border: none;
          background: transparent;
          padding: 12px 24px;
          cursor: pointer;

          &:disabled {
            opacity: 0.8;
          }

          &.btn-primary {
            background-color: $primary-color;
            color: white;
            box-shadow: 0px 8px 12px rgba($primary-color, 0.2);
          }

          &.btn-secondary {
            border: 1px solid $primary-color;
            color: $primary-color;
          }
        }
      }
    }
  }
}

.input-wrapper {
  color: $text-color;
  font-size: 16px;
  text-align: start;

  label {
    margin-bottom: 10px;
  }

  .input-content {
    width: 100%;
    border-radius: 8px;
    display: flex;

    .icon {
      padding: 12px;
      background-color: $primary-color;
      border-radius: 0 8px 8px 0;

      img {
        height: 20px;
      }
    }

    input {
      border: none;
      border-radius: 8px 0 0 8px;
      background-color: $gray-secondary-bg;
      padding: 12px 0 12px 20px;
      width: 100%;
    }
  }
}
