<mat-toolbar color="primary" class="p-4">
    Usuários
  </mat-toolbar>
  <mat-list class="p-4">
    <mat-list-item *ngFor="let user of userNames" class="flex items-center space-x-4 hover:bg-gray-100 rounded-md transition-colors">
      <button mat-button class="w-full flex items-center" (click)="selectUser.emit(user)">
        <img [src]="getUserPhoto(user)" alt="Foto do usuário" class="w-10 h-10 rounded-full" />
        <span class="ml-4 text-lg font-medium">{{ user }}</span>
      </button>
    </mat-list-item>
  </mat-list>
  