@use "@angular/material" as mat;

@include mat.core();

$heartcare-web-primary: mat.define-palette(mat.$indigo-palette);
$heartcare-web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$heartcare-web-warn: mat.define-palette(mat.$red-palette);

$heartcare-web-theme: mat.define-light-theme(
  (
    color: (
      primary: $heartcare-web-primary,
      accent: $heartcare-web-accent,
      warn: $heartcare-web-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($heartcare-web-theme);

@import "ngx-toastr/toastr";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
