<div class="flex flex-col items-center mt-4">
  <form class="max-w-md mx-auto mt-4 space-y-4 px-4 py-6 bg-white shadow-md rounded-lg">
    <div class="form-group">
      <label for="userFilter" class="block text-gray-700">Filtrar por Usuário:</label>
      <input id="userFilter" type="text" [(ngModel)]="userFilter" class="mt-1 p-2 border border-gray-300 rounded-md"
        placeholder="Digite o nome do usuário" />
    </div>
  </form>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4 w-full max-w-6xl">
    <div *ngFor="let c of filteredPressures(); let i = index"
      class="bg-white rounded-lg overflow-hidden shadow-md hover:shadow-lg">
      <div class="p-4">
        <img [src]="c.userPhoto" alt="Foto do usuário" class="w-12 h-12 rounded-full" />
        <p class="text-xl font-semibold mb-2">{{ c.userName }} {{ c.userLastName }}</p>
        <p class="text-gray-700 mb-4">pressão diastólica é: {{ c.diastolic }}</p>
        <p class="text-gray-700 mb-4">pressão sistólica é: {{ c.systolic }}</p>
        <p class="text-gray-700 mb-4">Medição feita em: {{ convertDate(c.date) }}</p>
      </div>
    </div>
  </div>
</div>
