<div class="h-screen flex">
  <div
    [ngClass]="{
      sidebar: true,
      'sidebar-visible': isSidebarVisible,
      'sidebar-hidden': !isSidebarVisible
    }"
    class="bg-gray-800 p-4 transition-width duration-300"
  >
    <app-user-list
      [userNames]="userNames"
      [pressures]="pressures"
      [loading]="loading"
      (selectUser)="selectUser($event)"
    >
    </app-user-list>
  </div>

  <div class="flex-grow p-4">
    <div class="flex flex-col items-center mt-4">
      <app-user-pressure
        [pressures]="pressures"
        [selectedUser]="selectedUser"
        (toggleSidebar)="toggleSidebar()"
        class="w-full max-w-6xl mt-4"
      >
      </app-user-pressure>
    </div>
  </div>
</div>